-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('FARMER', 'PROCUREMENT_CENTRE_OFFICER', 'CHECK_IN_OFFICER', 'WEIGHMENT_OFFICER', 'WEIGHMENT_SUPERVISOR', 'QUALITY_OFFICER', 'PROCUREMENT_OFFICER', 'PAYMENT_OFFICER', 'FARMER_VERIFICATION_AUTHORITY', 'GOVERNMENT_ADMIN', 'CHECK_IN', 'WEIGHMENT', 'QUALITY', 'PROCUREMENT', 'PAYMENT');

-- CreateEnum
CREATE TYPE "RegistrationStatus" AS ENUM ('DRAFT', 'SUBMITTED', 'VERIFICATION_PENDING', 'VERIFIED', 'REJECTED', 'RETURNED_FOR_CORRECTION', 'UNDER_VERIFICATION', 'ACTION_REQUIRED');

-- CreateEnum
CREATE TYPE "Gender" AS ENUM ('MALE', 'FEMALE', 'OTHER');

-- CreateEnum
CREATE TYPE "FarmerCategory" AS ENUM ('GENERAL', 'OBC', 'SC', 'ST');

-- CreateEnum
CREATE TYPE "LandOwnershipType" AS ENUM ('OWNER', 'TENANT', 'SHARECROPPER');

-- CreateEnum
CREATE TYPE "CentreVerificationStatus" AS ENUM ('PENDING_VERIFICATION', 'VERIFIED', 'ACTIVE', 'SUSPENDED', 'INACTIVE');

-- CreateEnum
CREATE TYPE "CentreOperationalStatus" AS ENUM ('OPEN', 'CLOSED', 'TEMPORARILY_UNAVAILABLE', 'MAINTENANCE');

-- CreateEnum
CREATE TYPE "CounterStatus" AS ENUM ('AVAILABLE', 'BUSY', 'OFFLINE', 'MAINTENANCE');

-- CreateEnum
CREATE TYPE "BookingSession" AS ENUM ('MORNING', 'AFTERNOON');

-- CreateEnum
CREATE TYPE "BookingStatus" AS ENUM ('PENDING', 'BOOKED', 'CANCELLED', 'NO_SHOW', 'CHECKED_IN', 'WEIGHMENT', 'QUALITY_ASSESSMENT', 'PROCUREMENT', 'PAYMENT', 'COMPLETED');

-- CreateEnum
CREATE TYPE "WeighmentStatus" AS ENUM ('WAITING', 'DEVICE_CONNECTED', 'READING_RECEIVED', 'RECORDED', 'CORRECTION_PENDING', 'CORRECTION_APPROVED', 'CORRECTION_REJECTED');

-- CreateEnum
CREATE TYPE "QualityGrade" AS ENUM ('GRADE_A', 'GRADE_B', 'GRADE_C', 'REJECTED');

-- CreateEnum
CREATE TYPE "ProcurementDecision" AS ENUM ('ACCEPTED', 'REJECTED', 'PARTIAL_ACCEPTED');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PROCESSING', 'SETTLED', 'FAILED');

-- CreateTable
CREATE TABLE "SystemHealth" (
    "id" TEXT NOT NULL,
    "probeKey" TEXT NOT NULL,
    "checkedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'ok',

    CONSTRAINT "SystemHealth_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "mobile" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'FARMER',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Farmer" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "farmerCode" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "fatherOrSpouseName" TEXT,
    "gender" "Gender",
    "category" "FarmerCategory",
    "mobile" TEXT NOT NULL,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "village" TEXT,
    "district" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Farmer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FarmerRegistration" (
    "id" TEXT NOT NULL,
    "registrationNumber" TEXT NOT NULL,
    "farmerId" TEXT NOT NULL,
    "status" "RegistrationStatus" NOT NULL DEFAULT 'DRAFT',
    "submittedAt" TIMESTAMP(3),
    "verifiedAt" TIMESTAMP(3),
    "verifiedBy" TEXT,
    "rejectedAt" TIMESTAMP(3),
    "rejectedBy" TEXT,
    "returnedAt" TIMESTAMP(3),
    "returnedBy" TEXT,
    "reason" TEXT,
    "actionRequiredNotes" TEXT,
    "rejectionReason" TEXT,
    "personalDetails" JSONB,
    "addressDetails" JSONB,
    "bankDetails" JSONB,
    "documents" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FarmerRegistration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FarmerVerification" (
    "id" TEXT NOT NULL,
    "farmerId" TEXT NOT NULL,
    "status" "RegistrationStatus" NOT NULL DEFAULT 'VERIFICATION_PENDING',
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "verifiedAt" TIMESTAMP(3),
    "verifiedBy" TEXT,
    "rejectedAt" TIMESTAMP(3),
    "rejectedBy" TEXT,
    "returnedAt" TIMESTAMP(3),
    "returnedBy" TEXT,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FarmerVerification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LandParcel" (
    "id" TEXT NOT NULL,
    "registrationId" TEXT NOT NULL,
    "district" TEXT NOT NULL,
    "block" TEXT NOT NULL,
    "panchayat" TEXT NOT NULL,
    "village" TEXT NOT NULL,
    "khasraNumber" TEXT NOT NULL,
    "areaAcres" DOUBLE PRECISION NOT NULL,
    "ownershipType" "LandOwnershipType" NOT NULL DEFAULT 'OWNER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LandParcel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "State" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "State_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "District" (
    "id" TEXT NOT NULL,
    "stateId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "District_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcurementCentre" (
    "id" TEXT NOT NULL,
    "centreCode" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "stateId" TEXT NOT NULL,
    "districtId" TEXT NOT NULL,
    "block" TEXT,
    "address" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "agency" TEXT NOT NULL DEFAULT 'Food & Civil Supplies Corporation',
    "operatingDays" TEXT NOT NULL DEFAULT 'Monday - Saturday',
    "operatingHoursStart" TEXT NOT NULL DEFAULT '08:00',
    "operatingHoursEnd" TEXT NOT NULL DEFAULT '17:00',
    "morningCapacityQuintals" DOUBLE PRECISION NOT NULL DEFAULT 300.0,
    "afternoonCapacityQuintals" DOUBLE PRECISION NOT NULL DEFAULT 250.0,
    "maxHourlyCapacityQuintals" DOUBLE PRECISION NOT NULL DEFAULT 60.0,
    "slotDurationMinutes" INTEGER NOT NULL DEFAULT 15,
    "maxQuantityPerBooking" DOUBLE PRECISION NOT NULL DEFAULT 150.0,
    "centreDailyFarmerLimit" DOUBLE PRECISION NOT NULL DEFAULT 50.0,
    "minBookingQuantityQuintals" DOUBLE PRECISION NOT NULL DEFAULT 10.0,
    "verificationStatus" "CentreVerificationStatus" NOT NULL DEFAULT 'PENDING_VERIFICATION',
    "operationalStatus" "CentreOperationalStatus" NOT NULL DEFAULT 'OPEN',
    "contactPhone" TEXT,
    "contactEmail" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProcurementCentre_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CentreCounter" (
    "id" TEXT NOT NULL,
    "centreId" TEXT NOT NULL,
    "counterNumber" INTEGER NOT NULL,
    "counterName" TEXT NOT NULL,
    "status" "CounterStatus" NOT NULL DEFAULT 'AVAILABLE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CentreCounter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CentrePersonnelAssignment" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "centreId" TEXT NOT NULL,
    "role" "UserRole" NOT NULL,
    "department" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CentrePersonnelAssignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcurementBooking" (
    "id" TEXT NOT NULL,
    "bookingNumber" TEXT NOT NULL,
    "farmerId" TEXT NOT NULL,
    "centreId" TEXT NOT NULL,
    "bookingDate" TIMESTAMP(3) NOT NULL,
    "session" "BookingSession" NOT NULL,
    "windowStartTime" TEXT NOT NULL,
    "windowEndTime" TEXT NOT NULL,
    "expectedQuantityQuintals" DOUBLE PRECISION NOT NULL,
    "maxAllowedQuantityQuintals" DOUBLE PRECISION NOT NULL DEFAULT 150.0,
    "expectedDurationMinutes" INTEGER NOT NULL DEFAULT 25,
    "vehicleNumber" TEXT,
    "vehicleType" TEXT,
    "driverName" TEXT,
    "status" "BookingStatus" NOT NULL DEFAULT 'BOOKED',
    "checkInTime" TIMESTAMP(3),
    "idempotencyKey" TEXT,
    "cancellationReason" TEXT,
    "governmentLimitAtBooking" DOUBLE PRECISION,
    "centreLimitAtBooking" DOUBLE PRECISION,
    "applicableLimitAtBooking" DOUBLE PRECISION,
    "minimumBookingAtBooking" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProcurementBooking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WeighmentRecord" (
    "id" TEXT NOT NULL,
    "bookingId" TEXT NOT NULL,
    "deviceCode" TEXT NOT NULL DEFAULT 'Scale-01',
    "originalHardwareWeight" DOUBLE PRECISION NOT NULL,
    "approvedFinalWeight" DOUBLE PRECISION,
    "status" "WeighmentStatus" NOT NULL DEFAULT 'RECORDED',
    "correctionReason" TEXT,
    "officerRemarks" TEXT,
    "requestedBy" TEXT,
    "requestedAt" TIMESTAMP(3),
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WeighmentRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QualityAssessmentRecord" (
    "id" TEXT NOT NULL,
    "bookingId" TEXT NOT NULL,
    "moisturePercent" DOUBLE PRECISION NOT NULL,
    "foreignMatterPercent" DOUBLE PRECISION NOT NULL,
    "damagedGrainPercent" DOUBLE PRECISION NOT NULL,
    "grade" "QualityGrade" NOT NULL DEFAULT 'GRADE_A',
    "remarks" TEXT,
    "assessedBy" TEXT NOT NULL,
    "assessedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "QualityAssessmentRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcurementDecisionRecord" (
    "id" TEXT NOT NULL,
    "bookingId" TEXT NOT NULL,
    "decision" "ProcurementDecision" NOT NULL DEFAULT 'ACCEPTED',
    "acceptedQuantityQuintals" DOUBLE PRECISION NOT NULL,
    "ratePerQuintal" DOUBLE PRECISION NOT NULL DEFAULT 2325.0,
    "totalAmount" DOUBLE PRECISION NOT NULL,
    "remarks" TEXT,
    "decidedBy" TEXT NOT NULL,
    "decidedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProcurementDecisionRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentSettlementRecord" (
    "id" TEXT NOT NULL,
    "bookingId" TEXT NOT NULL,
    "paymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "transactionRef" TEXT,
    "bankAccountMasked" TEXT,
    "amount" DOUBLE PRECISION NOT NULL,
    "settledBy" TEXT,
    "settledAt" TIMESTAMP(3),

    CONSTRAINT "PaymentSettlementRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "bookingId" TEXT,
    "centreId" TEXT,
    "actorId" TEXT NOT NULL,
    "actorRole" TEXT NOT NULL,
    "previousState" JSONB,
    "newState" JSONB,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CentreCapacityAudit" (
    "id" TEXT NOT NULL,
    "centreId" TEXT NOT NULL,
    "changedBy" TEXT NOT NULL,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fieldChanged" TEXT NOT NULL,
    "oldValue" DOUBLE PRECISION NOT NULL,
    "newValue" DOUBLE PRECISION NOT NULL,
    "crop" TEXT NOT NULL DEFAULT 'Paddy',
    "season" TEXT NOT NULL DEFAULT 'Kharif 2026',
    "effectiveDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reason" TEXT,

    CONSTRAINT "CentreCapacityAudit_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "SystemHealth_probeKey_key" ON "SystemHealth"("probeKey");

-- CreateIndex
CREATE UNIQUE INDEX "User_mobile_key" ON "User"("mobile");

-- CreateIndex
CREATE INDEX "User_mobile_idx" ON "User"("mobile");

-- CreateIndex
CREATE UNIQUE INDEX "Farmer_userId_key" ON "Farmer"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Farmer_farmerCode_key" ON "Farmer"("farmerCode");

-- CreateIndex
CREATE INDEX "Farmer_mobile_idx" ON "Farmer"("mobile");

-- CreateIndex
CREATE INDEX "Farmer_farmerCode_idx" ON "Farmer"("farmerCode");

-- CreateIndex
CREATE UNIQUE INDEX "FarmerRegistration_registrationNumber_key" ON "FarmerRegistration"("registrationNumber");

-- CreateIndex
CREATE INDEX "FarmerRegistration_farmerId_idx" ON "FarmerRegistration"("farmerId");

-- CreateIndex
CREATE INDEX "FarmerRegistration_registrationNumber_idx" ON "FarmerRegistration"("registrationNumber");

-- CreateIndex
CREATE INDEX "FarmerRegistration_status_idx" ON "FarmerRegistration"("status");

-- CreateIndex
CREATE UNIQUE INDEX "FarmerVerification_farmerId_key" ON "FarmerVerification"("farmerId");

-- CreateIndex
CREATE INDEX "FarmerVerification_status_idx" ON "FarmerVerification"("status");

-- CreateIndex
CREATE INDEX "FarmerVerification_farmerId_idx" ON "FarmerVerification"("farmerId");

-- CreateIndex
CREATE INDEX "LandParcel_registrationId_idx" ON "LandParcel"("registrationId");

-- CreateIndex
CREATE UNIQUE INDEX "State_code_key" ON "State"("code");

-- CreateIndex
CREATE UNIQUE INDEX "District_code_key" ON "District"("code");

-- CreateIndex
CREATE INDEX "District_stateId_idx" ON "District"("stateId");

-- CreateIndex
CREATE UNIQUE INDEX "ProcurementCentre_centreCode_key" ON "ProcurementCentre"("centreCode");

-- CreateIndex
CREATE INDEX "ProcurementCentre_stateId_idx" ON "ProcurementCentre"("stateId");

-- CreateIndex
CREATE INDEX "ProcurementCentre_districtId_idx" ON "ProcurementCentre"("districtId");

-- CreateIndex
CREATE INDEX "ProcurementCentre_verificationStatus_operationalStatus_idx" ON "ProcurementCentre"("verificationStatus", "operationalStatus");

-- CreateIndex
CREATE INDEX "CentreCounter_centreId_idx" ON "CentreCounter"("centreId");

-- CreateIndex
CREATE INDEX "CentrePersonnelAssignment_userId_idx" ON "CentrePersonnelAssignment"("userId");

-- CreateIndex
CREATE INDEX "CentrePersonnelAssignment_centreId_idx" ON "CentrePersonnelAssignment"("centreId");

-- CreateIndex
CREATE UNIQUE INDEX "CentrePersonnelAssignment_userId_centreId_key" ON "CentrePersonnelAssignment"("userId", "centreId");

-- CreateIndex
CREATE UNIQUE INDEX "ProcurementBooking_bookingNumber_key" ON "ProcurementBooking"("bookingNumber");

-- CreateIndex
CREATE UNIQUE INDEX "ProcurementBooking_idempotencyKey_key" ON "ProcurementBooking"("idempotencyKey");

-- CreateIndex
CREATE INDEX "ProcurementBooking_centreId_bookingDate_session_idx" ON "ProcurementBooking"("centreId", "bookingDate", "session");

-- CreateIndex
CREATE INDEX "ProcurementBooking_farmerId_idx" ON "ProcurementBooking"("farmerId");

-- CreateIndex
CREATE INDEX "ProcurementBooking_bookingNumber_idx" ON "ProcurementBooking"("bookingNumber");

-- CreateIndex
CREATE INDEX "ProcurementBooking_status_idx" ON "ProcurementBooking"("status");

-- CreateIndex
CREATE UNIQUE INDEX "WeighmentRecord_bookingId_key" ON "WeighmentRecord"("bookingId");

-- CreateIndex
CREATE INDEX "WeighmentRecord_bookingId_idx" ON "WeighmentRecord"("bookingId");

-- CreateIndex
CREATE INDEX "WeighmentRecord_status_idx" ON "WeighmentRecord"("status");

-- CreateIndex
CREATE UNIQUE INDEX "QualityAssessmentRecord_bookingId_key" ON "QualityAssessmentRecord"("bookingId");

-- CreateIndex
CREATE INDEX "QualityAssessmentRecord_bookingId_idx" ON "QualityAssessmentRecord"("bookingId");

-- CreateIndex
CREATE UNIQUE INDEX "ProcurementDecisionRecord_bookingId_key" ON "ProcurementDecisionRecord"("bookingId");

-- CreateIndex
CREATE INDEX "ProcurementDecisionRecord_bookingId_idx" ON "ProcurementDecisionRecord"("bookingId");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentSettlementRecord_bookingId_key" ON "PaymentSettlementRecord"("bookingId");

-- CreateIndex
CREATE INDEX "PaymentSettlementRecord_bookingId_idx" ON "PaymentSettlementRecord"("bookingId");

-- CreateIndex
CREATE INDEX "AuditLog_bookingId_idx" ON "AuditLog"("bookingId");

-- CreateIndex
CREATE INDEX "AuditLog_centreId_idx" ON "AuditLog"("centreId");

-- CreateIndex
CREATE INDEX "AuditLog_actorId_idx" ON "AuditLog"("actorId");

-- CreateIndex
CREATE INDEX "AuditLog_eventType_idx" ON "AuditLog"("eventType");

-- CreateIndex
CREATE INDEX "CentreCapacityAudit_centreId_idx" ON "CentreCapacityAudit"("centreId");

-- CreateIndex
CREATE INDEX "CentreCapacityAudit_changedAt_idx" ON "CentreCapacityAudit"("changedAt");

-- AddForeignKey
ALTER TABLE "Farmer" ADD CONSTRAINT "Farmer_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FarmerRegistration" ADD CONSTRAINT "FarmerRegistration_farmerId_fkey" FOREIGN KEY ("farmerId") REFERENCES "Farmer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FarmerVerification" ADD CONSTRAINT "FarmerVerification_farmerId_fkey" FOREIGN KEY ("farmerId") REFERENCES "Farmer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LandParcel" ADD CONSTRAINT "LandParcel_registrationId_fkey" FOREIGN KEY ("registrationId") REFERENCES "FarmerRegistration"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "District" ADD CONSTRAINT "District_stateId_fkey" FOREIGN KEY ("stateId") REFERENCES "State"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementCentre" ADD CONSTRAINT "ProcurementCentre_stateId_fkey" FOREIGN KEY ("stateId") REFERENCES "State"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementCentre" ADD CONSTRAINT "ProcurementCentre_districtId_fkey" FOREIGN KEY ("districtId") REFERENCES "District"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CentreCounter" ADD CONSTRAINT "CentreCounter_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES "ProcurementCentre"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CentrePersonnelAssignment" ADD CONSTRAINT "CentrePersonnelAssignment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CentrePersonnelAssignment" ADD CONSTRAINT "CentrePersonnelAssignment_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES "ProcurementCentre"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementBooking" ADD CONSTRAINT "ProcurementBooking_farmerId_fkey" FOREIGN KEY ("farmerId") REFERENCES "Farmer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementBooking" ADD CONSTRAINT "ProcurementBooking_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES "ProcurementCentre"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WeighmentRecord" ADD CONSTRAINT "WeighmentRecord_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES "ProcurementBooking"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QualityAssessmentRecord" ADD CONSTRAINT "QualityAssessmentRecord_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES "ProcurementBooking"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementDecisionRecord" ADD CONSTRAINT "ProcurementDecisionRecord_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES "ProcurementBooking"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentSettlementRecord" ADD CONSTRAINT "PaymentSettlementRecord_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES "ProcurementBooking"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES "ProcurementBooking"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES "ProcurementCentre"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CentreCapacityAudit" ADD CONSTRAINT "CentreCapacityAudit_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES "ProcurementCentre"("id") ON DELETE CASCADE ON UPDATE CASCADE;

